body{
	background-image: url('../images/backgroundImage.jpg');
}
.projectCards{
	background-color: rgba(17, 20, 27, 0.74);
	color: #ffff;
	margin-top: 30%;
}
#navigationBar{
	width:100%;
	background-color: #ffff;
}
#messageForm{
	margin-top: 20px;
	color: #ffff;
	background-color: rgba(17, 20, 27, 0.74);
	padding: 20px;
	border-radius: 20px;
}
#submitBttn{
	margin-left: 43%;
}
#aboutContainer{
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}
#descriptionContainer{
	border-radius: 20px;
	background-color: rgba(17, 20, 27, 0.74);
	color: #ffff;
	margin-top: 20px;
	margin-bottom: 20px;

	width: 130px;
}
#profilePic{
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 100%;
	max-width: 100%;
	border-radius: 20px;
	padding: 0;
}
#logoImg{
	margin-right: 20px;
	margin-left: 5px;
}
ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}